# put python dependencies in this file
# you can specify version or install the latest one

fastapi # always install the latest version
# fastapi==0.65.2
# fastapi>=0.65.0,<0.66.0

redis

uvicorn[standard]
